node_modules/
lerna-debug.log
.idea
.pinning.store
.vscode
*.iml
docs/
.run/
cue.mod/

packages/*/lib/
packages/*/node_modules/
packages/*/coverage/
packages/*/logs/
packages/*/package-lock.json
packages/core/src/version.ts
packages/cli/src/version.ts
